[Unit]
Description=OpenStack Murano Agent

[Service]
Type=simple
ExecStart=/opt/stack/venvs/murano-agent/bin/muranoagent --config-dir /etc/murano
Restart=on-failure

[Install]
WantedBy=multi-user.target
