RABBITMQ_HOST = "localhost"
RABBITMQ_PORT = "5672"
RABBITMQ_USERNAME = "guest"
RABBITMQ_PASSWORD = "guest"
RABBITMQ_VHOST = "/"
RABBITMQ_INPUT_QUEUE = "test queue"
RABBITMQ_RESULT_ROUTING_KEY = "result queue"